PORT=3000
DATABASE_URL="postgresql://postgres.kftoovbhzxilrccmxxxl:PrismaSupabase123@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.kftoovbhzxilrccmxxxl:PrismaSupabase123@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"
OPENAI_API_KEY=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
GOOGLE_CLIENT_ID=343554028423-aa9c2ggnope4ok97j679j8p7o332spbh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:5173
FOLDER=12aPRC1W8mFLqTkyzM77b7SProJdwRI2R
JWT_SECRET=your-strong-random-secret-here-change-this
